---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }}</title>

  <!-- Fonts and Styles -->
  <link rel="stylesheet" href="https://use.typekit.net/kit6kmu.css">
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>
<body>

  <h1>emily kelt </h1>

  <div class="topnav">
    <a href="{{ '/index.html' | relative_url }}" >back</a>
  </div>

  <div class="maintext">
    <h2>{{ page.title }}</h2>
    <p style="font-size: 16px; color: #666;">
      {{ page.date | date: "%B %d, %Y" }}
    </p>

    {{ content }}
  </div>

</body>
</html>
